{% extends "base_generic.html" %}

{% block content %}
    <h1>Взятые книги</h1>

    {% if bookinstanse_list %}
    <ul>

        {% for bookinst in bookinstanse_list %}
        <li class="{% if bookinst.is_overdue %} text-danger {% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
        ({{ bookinst.due_back }})
        </li>
        {% endfor %}
    </ul>

    {% else %}
        <p>Нет книг со статусом В ЗАКАЗЕ</p>
    {% endif %}

{% endblock %}